
ArithmeticOperations/.settings/org.eclipse.core.resources.prefs
ArithmeticOperations/bin/module-info.class
ArithmeticOperations/src/module-info.java
GalacticArithmetic/.settings/org.eclipse.core.resources.prefs
GalacticArithmetic/bin/module-info.class
GalacticArithmetic/src/module-info.java
TheDoubleTrouble/.settings/org.eclipse.core.resources.prefs
TheDoubleTrouble/bin/module-info.class
TheDoubleTrouble/src/module-info.java
TheJourneyCalculator/.settings/org.eclipse.core.resources.prefs
TheJourneyCalculator/bin/module-info.class
TheJourneyCalculator/src/module-info.java
TheStringJoiner/.settings/org.eclipse.core.resources.prefs
TheStringJoiner/src/module-info.java
TheStringJoiner/bin/module-info.class
TheTemperatureConverter/src/module-info.java
TheTemperatureConverter/bin/module-info.class
TheTemperatureConverter/.settings/org.eclipse.core.resources.prefs
GalacticArithmetic/bin/Addition/Arithemetic.class
GalacticArithmetic/src/Addition/Arithemetic.java
*.java
BitwiseBitCounter/bin/module-info.class
BitwiseBitCounter/.settings/org.eclipse.core.resources.prefs
LogicalOperatorValidator/.settings/org.eclipse.core.resources.prefs
LogicalOperatorValidator/bin/module-info.class
MethodOverloadingCalculator/.settings/org.eclipse.core.resources.prefs
MethodOverloadingCalculator/bin/module-info.class
TheCalculatorDilemma/bin/module-info.class
TheCalculatorDilemma/.settings/org.eclipse.core.resources.prefs
TemperatureConversion/bin/module-info.class
TemperatureConversion/.settings/org.eclipse.core.resources.prefs
TaxCalculator/bin/module-info.class
TaxCalculator/.settings/org.eclipse.core.resources.prefs
BitwiseSwapper/.settings/org.eclipse.core.resources.prefs
BitwiseSwapper/.settings/org.eclipse.jdt.core.prefs
BitwiseSwapper/bin/module-info.class
BitwiseSwapper/src/BitwiseSwapper/Question
BitwiseSwapper/bin/BitwiseSwapper/Question
BitwiseSwapper/bin/BitwiseSwapper/DemoApp.class
BitwiseSwapper/.project
BitwiseSwapper/.classpath
BitwiseBitCounter/src/BitwiseBitCounter/Question
